.container{
    position: relative;
    bottom: 0vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10vh;
}
.divUpper{
    margin-top: 3vh;
    color: white;
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: row-reverse;
}
.divMiddle{
    width: 100vw;
    font-family: 'Russo One', sans-serif;
    font-size: calc(18px);
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
    color: white;
    margin-left: 3.5vw;
}
.divLower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.lowerDivInnerDivLeft{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 5vw;
}
.lowerDivTitle{
    font-family: 'Russo One', sans-serif;
}
.lowerDivText{
    font-family: 'Lato', sans-serif;
    font-size: calc(12px + 0.1vw);
}
.lowerDivInnerDivRight{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 10vh;
    margin-right: 10vw;
    color: white;
}
.bliMedlemDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 120px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size:larger;

}
.middleDivInnerDiv{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.middleDivInnerDivIMg{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.text{
    font-family: 'Lato', sans-serif;
    font-size: calc(12px + 0.1vw);
}
.text:hover{
    text-decoration: underline 1px solid white;
    cursor: pointer;
}
.img{
    margin-right: 6vw;
}
.upIcon{
    width: 15px;
    margin-right:5vw ;
    margin-left: 1vw;
}
.clickableText:hover{
    text-decoration: underline 1px solid;
    cursor: pointer;
}
.hr{
    display: none;
}

@media only screen and (max-width: 990px) {
    .divLower{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5vh;
    }
    .lowerDivInnerDivLeft{
        align-self: center;
        text-align: center;
    }
    .bliMedlemDiv{
        align-self: center;
    }
    .lowerDivText{
        margin-left: 5vw;
    }

    .middleDivInnerDiv{
        display: none;
    }
    .middleDivInnerDivIMg{
        margin-left: 10vw;
    }
    .img{

       align-self: center;
     
    }
    .divMiddle{
        margin-left: 0vw;
     
    }
    .hr{
        display: inline;
        width: 95vw;
        margin: 0 auto;
        margin-top:5vh ;
        margin-bottom:5vh ;
    }
}
