.container{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.burgerAndTitleDiv{
    display: flex;

}
.title{
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: calc(20px + 2vw);
    cursor: pointer;
    margin-left: 5vw;
}
.burgerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.burger{
    display: none;   
}
.burgerText{
    display: none;
}
.form{
    display: flex;
    flex-direction: row;
    border: 0.2px solid black ;
    height: 6vh;
    width: 28vw;
    margin-top: 0.3vh;
    box-shadow: 0px 0.5px 0px;
    margin-left: 9vw;
}
.form:focus{
    border: 1px solid blue ;
    border-radius: 3px;
}
.input{
    border: 0px;
    height: 100%;
    width: 25vw;

}
.input::placeholder{
    padding-left: 2vw;
    font-size: 15px;
}
.serarchIcon{
    width: 18px;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin-right: 5vw;
    margin-top: 1.4vh;
}
.navIcon{
    cursor: pointer;
    width: 25px;
}
.li{
    padding-top: 0.6vh;
    font-size: 14px;
}
.li:hover{
    text-decoration: underline solid black;
    cursor: pointer;
}


@media only screen and (max-width: 990px) {
    .li {
     display: none;
    }
    .burger{
        display: inline;
        width: 30px;
        margin-left: 2vw;
        cursor: pointer;
    }
    .burgerText{
        display: inline;
        margin-left: 2vw;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
    }
    .form{
        margin: 0 auto;
        width: 98vw;
        position: absolute;
        top: 13vh;
        margin-left: 1vw;
    }
    .input{
        border: 0px;
        height: 100%;
        width: 95vw;
    }
    .serarchIcon{
       margin-right: 2vw;
    }
  }