*{
  margin: 0;
  padding: 0;
}
.textOne{
  font-size: 25px;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;}
.textTwo{
  font-size: 25px;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;}
.middleTitle{
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}
.middleText{
  font-size: 15px;
  text-align: center; 
  font-family: 'Lato', sans-serif;
  margin-bottom: 3vh;
}

.seMerDiv{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 110px;
  height: 50px;
  cursor: pointer;
}
.seMerDiv:hover{
  transition: 0.4s;
  background-color: rgb(227, 227, 227);
}