*{
  margin: 0;
  padding: 0;
}
.textOne{
  font-size: 20px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: center;}
.textTwo{
  font-size: 20px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: center;}


